<?php 

class Database{
  public $host = 'host';
  public $db_name = "db_name";
  public $username = "username;
  public $password = "password";
  public $conn;

  //Connect to database
  public function connect(){
    $this->conn = null;
    
    try{
      $this->conn = new PDO('mysql:host=' . $this->host . ';dbname=' . $this->db_name, $this->username, $this->password);
      $this->conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
    } catch (PDOException $anyNameHereYouWant){
      echo 'Connection Error: ' . $anyNameHereYouWant->getMessage();
    };

    return $this->conn;
  }

}

?>